* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}

img {
    min-width: 300px;
}

ul {
    list-style-type: none;
}

button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 5px;
}



.navbar, .header {
    background-color: #1F2937;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    height: 60px;
}

.navbar .league-logo {
    height: 75px;
    width: 150px;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar a {
    color:  #C4A15B;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    color: #EDDC91;
}

.navbar .container {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}


.header {
    height: 400px;
}

.header-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 200px;
    width: 500px;
    
}

.header h1 {
    font-size: 3em;
    font-weight: bold;
    line-height: 1.2;
}

.header img {
    max-width: 400px;
    max-height: 300px;
}

.header .container {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.boxes {
    height: 500px;
    background-color: #314158;
}

.boxes .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-box {
    display: flex;
    margin: 0px 0px 100px;
}

.boxes .container h2 {
    margin: 0px auto 100px;
    color: #C4A15B;
    font-weight: bold;
}

.box {
    width: 150px;
    height: 150px;
    border: #C4A15B 3px solid;
    margin: 30px;
    border-radius: 8px;
}


.boxes .container .box-container {
    color: #C4A15B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quotes {
    background-color: #314158;
    height: 300px;
}

.quotes .container {
    font-weight: lighter;
    font-size: 24px;
    font-style: italic;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.quote-box {
    border: #C4A15B 1px solid;
    padding: 14px;
    width: 800px;
}

.action {
    height: 300px;
    background-color: #1F2937;
}

.action .container {
    height: 100%;
}

.action-box {  
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-box2 button {
    border: #fff 1px solid;
}

.action-box2 {
    background-color: #3882f6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 125px;
    width: 800px;
    border-radius: 8px;
}